<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/css/land.css">
</head>
<body>
    <div class="main-container">
        <header>
            <nav>
                <div class="logo">
                    <a href="#">
                        <img src="/image/logo.png" alt="">
                    </a>
                </div>
                
                <div class="menu">
                    <ul>
                        <a href="/home"><li>Home</li></a>
                        <li>About</li>
                        <li>Contact</li>
                        <li></li>
                    </ul>
                    <div class="calltoaction">
                        <a href="/login"><button>Login</button></a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <section>
                <div class="left">
                    <div class="content">
                        <h1>Welcome to Sidin Travel</h1>
                        <h4>We Bring The World To You</h4>
                        <div class="para">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore ea aut ducimus tenetur illo voluptas voluptatibus, itaque quisquam, ad eum labore aspernatur vero, non ratione quia doloremque possimus? Tenetur, maiores!
                            </p>
                            <a href="/register"><button>Login</button></a>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <img src="/image/tulisan_doang.png" class="img">
                </div>
            </section>
        </div>
    </div>
</body>
</html>