<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorate="~{layout}">
    <body>
        <div layout:fragment="content">
            <div k th:each="ticket : ${tickets}">
            <a href="#">
                <div class="card-body buatbasket shadow p-3 mb-5 bg-body rounded">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="card-title"id="title"th:text="${ticket.maskapai}"></h3>
                            <h5 style="margin-bottom:1rem;">Awal: <span th:text="${ticket.awal}"></span></h5>
                            <h5 style="margin-bottom:1rem;">Tujuan: <span th:text="${ticket.tujuan}"></span></h5>
                            <h6 style="margin-bottom:1rem;">Tanggal: <span th:text="${ticket.tanggal}"></span></h6>
                            <h4 style="margin-bottom:1rem;">Harga: <span th:text="${ticket.harga}"></span></h4>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </body>
</html>