<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorate="~{layout}">
    <body>
        <div layout:fragment="content">
            <div class="container text-center">
                <img src="/image/logo_with_tulisan.png" id="logoHome"alt="Sidin Copyright">
            </div>
            <span th:if="${Success != null}">
              <div class="alert alert-danger" role="alert"th:text="${Success}">
                
              </div>
            </span>
            <div class="row"id="tempatCard">
                <div class="col text-center">
                    <a href="/Admin/realUpdate/Kereta"class="kartuSidin">
                        <div class="card">
                            <img src="/image/kereta_sidin.png" class="card-img-top" alt="Gambar sidin naik kereta">
                            <div class="card-body">
                              <h5 class="card-title">Sidin Train Travel</h5>
                              <p class="card-text">Halo Admin Sidin jangan males update tiket train travel yaaaa.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col text-center">
                <a href="/Admin/realUpdate/Bus"class="kartuSidin">
                    <div class="card">
                        <img src="/image/bis_sidin.png" class="card-img-top" alt="Gambar sidin naik bis">
                        <div class="card-body">
                            <h5 class="card-title">Sidin Bus Travel</h5>
                            <p class="card-text">Halo Admin Sidin jangan males update tiket bus travel yaaaa.</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col text-center">
                    <a href="/Admin/realUpdate/Pesawat" class="kartuSidin">
                        <div class="card">
                            <img src="/image/pesawat_sidin.png" class="card-img-top" alt="Gambar sidin naik pesawat">
                            <div class="card-body">
                                <h5 class="card-title">Sidin Airplane Travel</h5>
                                <p class="card-text">Halo Admin Sidin jangan males update tiket ariplane travel yaaaa.</p>
                            </div>
                        </div>
                    </a>
                </div>
              </div>
        </div>
    </body>
</html>\