<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/css/land.css">
</head>
<body>
    <div class="main-container">
        <header>
            <nav>
                <div class="logo">
                    <a href="#">
                        <img src="/image/logo.png" alt="">
                    </a>
                </div>
                
                <div class="menu">
                    <ul>
                        <li>About Us</li>
                    </ul>
                    <div class="calltoaction">
                        <a href="/login"><button>Login</button></a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <section>
                <div class="left">
                    <div class="content">
                        <h1>Welcome to Sidin Travel</h1>
                        <h4>We Bring The World To You</h4>
                        <div class="para">
                            <p>
                                Are you in search of the best deals on tickets for your next event or trip? Look no further than ABC Ticket Booking! We offer a wide selection of tickets for concerts, sports games, theater shows, and more. Plus, with our exclusive discounts and promotions, you'll be sure to find the perfect ticket at the best price.
Book now and enjoy our easy and secure booking process, as well as our fast delivery options. Plus, our dedicated customer service team is available to help with any questions or issues. Don't miss out on the chance to experience your favorite event or destination. Book with ABC Ticket Booking today!
                            </p>
                            <div class="calltoaction">
                                <button>Login</button>
                            </div>
                            <a href="/register"><button>Register</button></a>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <img src="/image/tulisan_doang.png" class="img">
                </div>
            </section>
        </div>
    </div>
</body>
</html>