<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorate="~{layout}">
    <body>
        <div layout:fragment="content">
            <td th:switch="${code}">
                <!-- 
                    INI PESAWAT 
                -->
                <div th:case="'0'">
                    <div k th:each="ticket : ${tickets}">
                        <a href="#"class="ticketsView">
                            <div class="card-body buatbasket shadow p-3 mb-5 bg-body rounded">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="margin-bottom:1rem;"><span th:text="${ticket.awal}"></span> ~ <span th:text="${ticket.tujuan}"></span></h5>
                                        <h6 style="margin-bottom:1rem;">Tanggal: <span th:text="${ticket.tanggal}"></span></h6>
                                        <div class="row content-left">
                                            <div class="col">
                                                <div th:if="${ticket.Baggage != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                    <img src="/image/luggage.png"class="ukuranIcon">  
                                                </div>
                                                <div th:unless="${ticket.Baggage != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                    <img src="/image/no-bag.png"class="ukuranIcon">  
                                                </div>
                                                <div th:if="${ticket.WiFi != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                    <img src="/image/wifi.png"class="ukuranIcon">  
                                                </div>
                                                <div th:unless="${ticket.WiFi != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                    <img src="/image/no-signal.png"class="ukuranIcon">  
                                                </div>
                                                <div th:if="${ticket.Meal != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                    <img src="/image/dinner.png"class="ukuranIcon"> 
                                                </div>
                                                <div th:unless="${ticket.Meal != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                    <img src="/image/fasting.png"class="ukuranIcon">  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div th:if="${ticket.Baggage != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                <h6><span th:text="${ticket.Baggage}"></span>KG</h6>
                                            </div>
                                            <div th:unless="${ticket.Baggage == 0}"> 
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                        <h3 class="card-title"id="title"th:text="${ticket.maskapai}"></h3>
                                        <div th:if="${ticket.maskapai == 'Lion Air'}">
                                            <img src="/image/Lion_air_logo.png">
                                        </div>
                                        <div th:if="${ticket.maskapai == 'Citilink'}">
                                            <img src="/image/Citilink_logo.png">
                                        </div>
                                        <div th:if="${ticket.maskapai == 'Garuda Indonesia'}">
                                            <img src="/image/Garuda_Ind_logo.png">
                                        </div>
                                        <h4 style="margin-bottom:1rem;margin-top:4rem;">Harga: <span th:text="${ticket.harga}"></span></h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 
                    INI KERETA 
                -->
            <div th:case="'1'">
                <div k th:each="ticket : ${tickets}">
                    <a href="#"class="ticketsView">
                        <div class="card-body buatbasket shadow p-3 mb-5 bg-body rounded">
                            <div class="row">
                                <div class="col">
                                    <h5 style="margin-bottom:1rem;"><span th:text="${ticket.awal}"></span> ~ <span th:text="${ticket.tujuan}"></span></h5>
                                    <h6 style="margin-bottom:1rem;">Tanggal: <span th:text="${ticket.tanggal}"></span></h6>
                                    <div class="row content-left">
                                        <div class="col">
                                            <div th:if="${ticket.WiFi != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                <img src="/image/wifi.png"class="ukuranIcon">  
                                            </div>
                                            <div th:unless="${ticket.WiFi != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                <img src="/image/no-signal.png"class="ukuranIcon">  
                                            </div>
                                            <div th:if="${ticket.Meal != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                <img src="/image/dinner.png"class="ukuranIcon"> 
                                            </div>
                                            <div th:unless="${ticket.Meal != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                <img src="/image/fasting.png"class="ukuranIcon">  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                                <div class="col">
                                    <h3 class="card-title"id="title"th:text="${ticket.maskapai}"></h3>
                                    <h4 style="margin-bottom:1rem;margin-top:4rem;">Harga: <span th:text="${ticket.harga}"></span></h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 
                    INI BUS 
                -->
            <div th:case="'2'">
                <div k th:each="ticket : ${tickets}">
                    <a href="#"class="ticketsView">
                        <div class="card-body buatbasket shadow p-3 mb-5 bg-body rounded">
                            <div class="row">
                                <div class="col">
                                    <h5 style="margin-bottom:1rem;"><span th:text="${ticket.awal}"></span> ~ <span th:text="${ticket.tujuan}"></span></h5>
                                    <h6 style="margin-bottom:1rem;">Tanggal: <span th:text="${ticket.tanggal}"></span></h6>
                                    <div class="row content-left">
                                        <div class="col">
                                            <div th:if="${ticket.WiFi != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                <img src="/image/wifi.png"class="ukuranIcon">  
                                            </div>
                                            <div th:unless="${ticket.WiFi != 0}"style="display: inline-block;margin-right:3rem;"> 
                                                <img src="/image/no-signal.png"class="ukuranIcon">  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                                <div class="col">
                                    <h3 class="card-title"id="title"th:text="${ticket.maskapai}"></h3>
                                    <div th:if="${ticket.maskapai == 'Pahala Kencana'}">
                                        <img src="/image/pahala-kencana-logo.png">
                                    </div>
                                    <div th:if="${ticket.maskapai == 'Lorena'}">
                                        <img src="/image/LOGO-LORENA-PNG.png">
                                    </div>
                                    <div th:if="${ticket.maskapai == 'Agramas'}">
                                        <img src="/image/Logo-agramas.png">
                                    </div>
                                    <h4 style="margin-bottom:1rem;margin-top:4rem;">Harga: <span th:text="${ticket.harga}"></span></h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div th:case="'*'">
                <h1>YNTKTS</h1>
            </div>
        </div>
        </td>
    </body>
</html>